main {
    .container {
        padding: 0 15px;
        margin: 0 auto;
    }
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: 993px) {
        .container {
            max-width: 825px;
        }
    }
    @media (min-width: 1201px) {
        .container {
            max-width: 825px;
        }
    }
}